[defaults]
inventory = inventory.ini
roles_path = roles
callback_plugins = callback_plugins
stdout_callback = default
bin_ansible_callbacks = True
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
nocows = True
callbacks_enabled = llm_diag



[ssh_connection]
pipelining = True




